.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.options button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.output {
    margin-top: 20px;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    height: 280px; /* Adjust height based on your design */
    overflow-y: scroll;
}

.listers-output {
    margin-top: 20px;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    height: 120px; /* Adjust height based on your design */
    overflow-y: scroll;
}

.downloaders-output {
    margin-top: 20px;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    height: 120px; /* Adjust height based on your design */
    overflow-y: scroll;
}

data-entry-output {
    margin-top: 20px;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    height: 120px; /* Adjust height based on your design */
    overflow-y: scroll;
}
